/*VARIÁVEIS COM CORES*/
:root{
    --main-bg-color: #e6e7ed;
    --titles-color: #2959aa;
    --links: #0f4b6e;
    --plain-text: #40434f;
    --opac-bg: rgb(230,231,237, 0.8)
}

.dark-mode:root{
    --main-bg-color: #1a1b26;
    --titles-color: #7aa2f7;
    --links: #7dcfff;
    --plain-text: #9aa5ce;
    --opac-bg: rgb(26,27,38, 0.8)
}

/*CONFIGURAÇÕES GERAIS*/

html{
    background-color: var(--main-bg-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    margin:auto;
    width: 60%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

p{
    color: var(--plain-text);
    font-size: large;
    font-weight: 549;
    padding: 0;
}

h2{
  font-size: larger;
}

h1{
  font-size: x-large;
}

.header-menu{
  display: flex;
  flex-direction: row;
}

/*O TOGGLER LIGHT/DARK THEME*/

.toggler {
    opacity: 0;
    position: absolute;
  }
  
  .toggler-label {
    background-color: var(--titles-color);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .moon{

    font-weight: 1000;
    width: 50%;
    font-size: x-large;
    text-align: center;
    color: var(--main-bg-color);
    display: block;
  }
  
  .sun {
    width: 50%;
    font-size: x-large;
    text-align: center;
    color: var(--main-bg-color);
    display: block;
  }
  
  .tohome{
    background-color: var(--main-bg-color);
    border: solid 2px var(--titles-color);
    position: absolute;
    right: 1vw;
    top: 1vh;
    border-radius: 50%;
    display: inline;
    width: 40px;
    text-decoration: none;
    color: var(--titles-color);
    font-size: 2rem;
    font-weight: 1000;
    line-height: 2rem;
    padding-top: 3px;
  }


  .toggler-label .ball {
    background-color: var(--main-bg-color);
    width: 50%;
    height: 90%;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    display: block;
  }
  
  .toggler:checked + .toggler-label .ball {
    transform: translateX(26.5px);
  }
  
 /*A SELEÇÃO DE IDIOMA*/ 
.header-menu nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--titles-color);
  width: 60px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
  justify-content: space-between;
  margin-top: 0%;
  margin-left: 10%;
}

.header-menu a{
  text-decoration: none;
}

.btn-lang{
  color: var(--main-bg-color);
  width: 50%;
  height: 100%;
  padding-top: 10%;
  padding-left: 5%;
}

.selected-lang{
  background-color: var(--main-bg-color);
  color: var(--plain-text);
  border-radius: 50px;
}

/*PARTE DE APRESENTAÇÃO ONDE PONHO MINHA FOTO E ALGUMAS INFORMÇÃOES*/

.present-infos{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 0;
}

.texto{
    text-align: left;
}

.profpic{
    width: 20%;
    margin:auto;
    margin-right: 0%;
}

.profpic img{
  width: 100%;
  height: 100%;
  border: var(--links) 2px solid;
  border-radius: 10px;
}

.subtittle{
    color: var(--titles-color);
}

.presentation{
    text-align: justify;
}

/*A PARTE COM OS LINKS PARA SESSÕES COMO FORMAÇÃO, CURRÍCULO ETC*/

.links{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 5vh;
  margin-top: 5vh;
}

.links a{
  color: var(--links);
  font-size: large;
}

/*Página de formação*/
.landscape{
  /*max-width: 75vw;*/
  margin: 2% 10%;
  border: var(--links) 2px solid;
  border-radius: 10px;
}

/*Página de contatos*/
.links p{
  margin: 0;
  text-align: left;
  font-size: small;
  margin-left: -20%;
}

.links .contato{
  text-align: left !important;
}

/*TODA A PARTE DE PROJETOS LIVRES */
.project{
  border: 2px solid var(--links);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.project img{
  width: 70%;
  border-radius: 13px 0 0 0;
}
.project .project-info{
  position: relative;
  display: flex;
  flex-direction: row;
  color: var(--plain-text);
}

.project .project-info div{
  position: absolute;
  border-radius: 0 15px 0 0;
  width: 50%;
  height: 100%;
  overflow: scroll;
  right: 0;
  background: var(--opac-bg);
}

.project .project-info div p{
  font-size: medium;
}

.stacks{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.stacks p{
  padding: 0 6px;
  border-radius: 10px 100px / 120px;;
  font-size: smaller;
  margin-left: 1%;
  color: var(--main-bg-color);
}

.stacks img{
  width: 10px;
}

.project .repo{
  background-color: rgb(35, 31, 32);
  text-decoration: none;
  color: #e6e7ed;
  padding: 5px 12px;
  height: 20px;
  display: flex;
  gap: 5px;
  border-radius: 0 0 13px 13px;
  align-items: center;
}

.project .repo a{
  text-decoration: none;
  color: #e6e7ed;
}

.project .repo img{
  float: left;
  height: 100%;
  width: auto;
  right: 0;
}

hr{
  color: transparent;
}